<div th:fragment="chooseTec">
<div class="col-md-4">
        <label for="state" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Этап строительства</font></font></label>
        <select class="form-select" id="state" required="">
            <option value=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Выбирать...</font></font></option>
            <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Домокомплект конструктив</font></font></option>
            <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Тёплый контур</font></font></option>
            <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">"Под ключ"</font></font></option>
        </select>
        <div class="invalid-feedback">
            Please provide a valid state.
        </div>
    </div>
</div>